@model CodApp.Models.Newsletter

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(m => m.Title)</h1>
<h3>@Html.DisplayFor(m => m.Content)</h3>
<hr />

@foreach(var article in @Model.Articles)
{
    <h2>@Html.DisplayFor(m => article.Title)</h2>
    <p>@Html.DisplayFor(m => article.Content)</p>
    <img src="@article.ImageSrcString" alt="An image relating to fish"/>
    <hr />
    @Html.Partial("EditArticle", article, new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "NewsletterId", Model.Id } })

}

@Html.Partial("AddArticle", new CodApp.Models.Article(), new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "NewsletterId", Model.Id } })
