@model CodApp.Models.Article

<h2>Add an article</h2>

@using (Html.BeginForm("AddArticle", "Newsletter"))
{
  <div class="form-group">
    @Html.Hidden("NewsletterId")

    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

    @Html.LabelFor(m => m.Content)
    @Html.TextAreaFor(m => m.Content, new { @class = "form-control text-box" })

    @Html.LabelFor(m => m.ImageSrcString, "Location of image, either root directory or on the web")
    @Html.TextBoxFor(m => m.ImageSrcString, new { @class = "form-control" })
    <br>
    <input type="submit" value="Add Article" class="btn btn-success"/>
  </div>
}
