@model CodApp.Models.Reader
<div class="container">
  @using (Html.BeginForm("AddReader", "Newsletter"))
  {
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3>Sign up for a our newsletter!</h3>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
      </div>
      <div class="panel-body">
        <p>
          @Html.LabelFor(m => m.Email)
          @Html.TextBoxFor(m => m.Email)
          <br>
          @Html.LabelFor(m => m.StreetAddress)
          @Html.TextBoxFor(m => m.StreetAddress)
          <br>
          @Html.LabelFor(m => m.City)
          @Html.TextBoxFor(m => m.City)
          <br>
          @Html.LabelFor(m => m.State)
          @Html.TextBoxFor(m => m.State)
        </p>
      </div>
    </div>
    <input type="submit" value="Sign Up!" class="btn btn-primary" />
  }
</div>
