@model CodApp.Models.Article

<h3>Edit this article:</h3>

@using (Html.BeginForm("EditArticle", "Newsletter"))
{
    @Html.Hidden("NewsletterId")
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PageLabel)
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    <br />
    
    @Html.LabelFor(m => m.Content)
    @Html.TextAreaFor(m => m.Content, new { style = "width: 50%;height:100px;" })
    <br />
    @Html.LabelFor(m => m.ImageSrcString, "Location of image, either root directory or on the web")
    @Html.TextBoxFor(m => m.ImageSrcString)

    <input type="submit" value="Save Changes" />

}