@using CodApp.ViewModels
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is the register page</h1>
@using (Html.BeginForm("Register", "Administrator", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <input type="submit" value="Register" />
}